@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}

.body{
    background-color: black;
}
.wd{
    color: red;
}

/* navber design  */
.navber{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /* background: crimson; */
    font-family: 'ubuntu', sans-serif;
}

.navber.sticky{
    padding: 5px 0;
    background: black;
}

.navber .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navber .logo a{
    color: crimson;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.banner-head{
    color: cyan;
}

.navber .menu li{
    list-style: none;
    display: inline-block;
}

.navber .menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color .3s ease;
}

.navber .menu li a:hover{
    color: crimson;
}

/* menu btn style  */

.menu-btn{
    color: green;
    font-size: 25px;
    cursor: pointer;
    display: none;

}


/* navber styling ends here  */

.banner-button{
    position:relative;
    padding: 15px 30px;
    color: #2196f3;
    border: 1px solid #15158b96;
    text-transform: uppercase;
    /* letter-spacing: 4px; */
    font-size:18px;
    overflow: hidden;
    transition: 0.2s;
}

.banner-button:hover{
    color: #255784;
    background: #2196f3;
    border: none;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

/* about section  */

.about-header-text {
    font-family: 'ubuntu', sans-serif;
}

.about-header{
    position: relative;
    font-size: 40px;
    font-weight: 500;
}
.about-header::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: crimson;
    transform: translateX(-50%);
}
.about-header::after{
    content:"";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    width: 180px;
    height: 3px;
    color: crimson;
    /* background: white; */
    transform: translateX(-50%);
}

.about-btn{
    padding: 10px 15px;
    background: crimson;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
}
.about-btn:hover{
    background: red;
    color: seashell;
}



/* responsiveness  */
@media(max-width:947px){
   .max-width{
       padding: 0 50px;
   }
   .menu-btn{
       display: block;
       z-index: 999;
   }
   .navber .menu{
       position: fixed;
       height: 100vh;
       width: 100%;
       left: -100;
       top: 0;
       background: #111;
       text-align: center;
       padding-top: 80px;
       transition: all 0.3s ease;
   }
   .navber .menu.active{
       left: 0;
   }
   .navber .menu li{
       display: block;

   }
   .navber .menu li a{
       display: inline-block;
       margin: 20px 0;
       font-size: 25px;
   }
}




